.task {
  display: flex;
  height: auto;
  width: 80%;
  background-color: rgb(106, 218, 218);
  margin: 20px auto;
  padding: 20px;
  justify-content: space-around;
}

.btn{
    border-radius: 0.5em;
    width: 50px;
    border:none;
    height: 30px;
}
#b1{
background-color: rgb(25, 221, 123);
}

#b2,.btn3{
    background-color: rgb(7, 129, 123);
}
.input{
  height: 30px;
  border-radius: 0.5em;
  border:none;
  padding: 10px;
  background-color: rgb(206, 238, 238);
}
.btn3{
 height: 40px;
 padding: 10px;
 border-radius: 0.5em;
 border:none;
 margin-left: 10px;
}