.App {
  text-align: center;
  background-color: rgb(53, 48, 48); 
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main_div{
background-color:  rgb(105, 103, 103);
height:500px;
width:auto;

}
p{
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}
